Xft.dpi:        96
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintmedium

st.font:        Iosevka Nerd Font:style:regular:pixelsize=18
st.borderpx:    15

! Gruber Darker Colorscheme

st.foreground:  #e4e4ef
st.background:  #181818
st.cursorColor: #e4e4ef

! Black + DarkGrey
st.color0:      #2E3436
st.color8:      #555753

! DarkRed + Red
st.color1:      #a40000
st.color9:      #EF2929

! DarkGreen + Green
st.color2:      #4E9A06
st.color10:     #8AE234

! DarkYellow + Yellow
st.color3:      #C4A000
st.color11:     #FCE94F

! DarkBlue + Blue
st.color4:      #3465A4
st.color12:     #729FCF

! DarkMagenta + Magenta
st.color5:      #75507B
st.color13:     #AD7FA8

! DarkOrange + Orange
st.color6:      #ce5c00
st.color14:     #fcaf3e

! LightGrey + White
st.color7:      #babdb9
st.color15:     #EEEEEC
