Xft.dpi:        96
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintmedium

st.font:        Iosevka Nerd Font:style:regular:pixelsize=18
st.borderpx:    15

! Gruber Darker Colorscheme

st.foreground:  #e4e4ef
st.background:  #181818
st.cursorColor: #ffdd33

! Black
st.color0:      #181818
st.color8:      #484848

! Red
st.color1:      #f43841
st.color9:      #ff4f58

! Green
st.color2:      #73c936
st.color10:     #73c936

! Yellow
st.color3:      #ffdd33
st.color11:     #ffdd33

! Blue
st.color4:      #96a6c8
st.color12:     #96a6c8

! Magenta
st.color5:      #9e95c7
st.color13:     #9e95c7

! Cyan
st.color6:      #95a99f
st.color14:     #95a99f

! White
st.color7:      #e4e4ef
st.color15:     #f4f4ff
